
.container{
    color: white;
}
.table{
    border: 2px black solid;
    color: white;  
    background-color: grey; 
}
.IMG_ACT{
    margin: 1px;
    padding: 1px;
    border: 2px black solid;
    width: 200px;
    height: 200px;
}

